// Specific CSS for your home-page

.banner {
  text-align: top;
  // margin-top: 50%;
  margin-bottom: 120px;
  // position: relative;
}

.one {
  // background: linear-gradient(180deg, #FFF7E9 0%, #FF731D 100%);
  background-image: url('bg3.jpg');
  background-size: cover;
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 28px;
  margin-bottom: 40px;
}

// .word {
//   position: absolute;
//   top: -88px;
//   right: -106px;
// }



// .one .h1 .h3 {
//   justify-content: start;
// }
// #two {
//   background-color: white;
//   padding: 16px;
// }

body {
  padding: 0px;
  margin: 0px;
}




#new-order {
  margin-top: -60px;
}
