 <div class="background-container">
  <div id= "one">
      <div class="banner">
        <h1> Welcome </h1>
        <h2> Urgent deliveries - anytime</h2>
      </div>
  </div>
  <div id= "two">
    <div class="card" id= "new-order">
      <h2> Create new order </h2>
      <%= render 'form' %>
    </div>
  </div>
 </div>
