<div class="background-container">
  <div id= "one">
    <div class="homepage-banner">
      <%# <div class="word-box"> %>
      <%# <h1> Welcome </h1> %>
      <h1 class="homepage-h1 word-box">Delivering delight,<br>
        at the speed of light!</h1>
      <%# </div> %>
    </div>
  </div>
  <div>
    <div class="card-light-orange" id= "new-order">
      <h2> Create new order </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
