<div class="background-container">
  <div class= "one">
    <div class="banner">
      <h1> Welcome </h1>
      <h3>“Delivering delight, at the speed of light!”</h3>
    </div>
  </div>
  <div>
    <div class="card" id= "new-order">
      <h2> Create new order </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
