/// Page container ///

.container {
  text-align: center;
  padding: 16px;
  background-color: white;
}

///// Homepage container with grid and ratio 3:1 ///////

.background-container {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: white;
  text-align: center;
}


//// flexbox ////////
.d-flex {
  display: flex;
  justify-content: space-between;
}
