.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 25px;
  width: 100%;
  background-color: lightgray;
  color: black;
}

#footer-font {
  font-size: 12px;
  color: black;
}
