.steps {
  display: flex;
  justify-content: center;

}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #484b50;
  margin: 10px 5px;
  background: #fafafa;
  color: #484b50;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.step-active {
  background-color: #1746A2;
  color: #fff;

}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
